.container {
    width: 1080px;
    margin: 0 auto;
}
nav {
    width: 100%;
    height: 75px;
    background-color: #e2e2e2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.logo {
    padding:0 1.5rem;
    background-color: #ccc;
    height: 100%;
}

.logo a {
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 75px;
}

.menu-list {
    display: flex;
    list-style: none;
}
.menu-list li {
    padding: 20px;
}
.menu-list li a {
    color: #000;
}

